@model VideogameShop.Models.MessaggioPrivato

@{
    ViewData["Title"] = "NuovoMessaggio";
}

<div class="backgroundOpacoDritto p-3">

<h1>NuovoMessaggio</h1>

<h4>MessaggioPrivato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NuovoMessaggio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destinatario.UserName" class="control-label"></label>
                <input asp-for="Destinatario.UserName" class="form-control" />
                <span asp-validation-for="Destinatario.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestoMessaggio" class="control-label"></label>
                <textarea asp-for="TestoMessaggio" class="form-control" rows="10"></textarea>
                <span asp-validation-for="TestoMessaggio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla casella messaggi</a>
</div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
