@using VideogameShop.Database;
<main class="mb-5">
    <div class="container-fluid text-center bg-warning pb-5 pt-5 me-0 ms-0" id="sconti">
        <h1 id="fantasy" class="mb-4 text-danger">Offerte Speciali Fino A Domenica</h1>
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://s2.gaming-cdn.com/images/products/7111/380x218/forspoken-pc-gioco-steam-europe-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://s3.gaming-cdn.com/images/products/12953/380x218/marvel-s-spider-man-miles-morales-pc-gioco-steam-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://s2.gaming-cdn.com/images/products/13186/380x218/frozen-flame-pc-gioco-steam-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container-fluid text-center  pb-5 pt-5 me-0 ms-0" id="bestseller">
        <h1 class="mt-4 mb-4 text-warning" id="fantasy">Giochi Migliori</h1>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://s2.gaming-cdn.com/images/products/7111/380x218/forspoken-pc-gioco-steam-europe-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://s3.gaming-cdn.com/images/products/12953/380x218/marvel-s-spider-man-miles-morales-pc-gioco-steam-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://s2.gaming-cdn.com/images/products/13186/380x218/frozen-flame-pc-gioco-steam-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <h1 class="mt-4 mb-4 text-light testogrande text-center">Piattaforme</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col-3">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/1024px-Xbox_one_logo.svg.png" width="30" />
                </button>
            </div>
            <div class="col-3">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/Playstation-Logo-Transparent-Image.png"
                         width="30" />
                </button>
            </div>
            <div class="col-3">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/nintendo-switch-logos-85735.png" width="30" />
                </button>
            </div>
            <div class="col-3">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/computer-keyboard-and-mouse-icon-11549778001glpeo1dkdh.png"
                         width="30" />
                </button>
            </div>
        </div>
    </div>
    <h1 class="mt-5 mb-4 text-light testogrande text-center">Generi</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col-4 pb-2"> <button type="button" class="btn btn-primary btn-sm">Tipologia-1</button></div>
            <div class="col-4 pb-2"> <button type="button" class="btn btn-primary btn-sm">Tipologia-2</button></div>
            <div class="col-4 pb-2"> <button type="button" class="btn btn-primary btn-sm">Tipologia-3</button></div>
            <div class="col-4 pb-2"> <button type="button" class="btn btn-primary btn-sm">Tipologia-4</button></div>
            <div class="col-4 pb-2"> <button type="button" class="btn btn-primary btn-sm">Tipologia-5</button></div>
            <div class="col-4 pb-2"> <button type="button" class="btn btn-primary btn-sm">Tipologia-6</button></div>
            <div class="col-4 pb-2"> <button type="button" class="btn btn-primary btn-sm">Tipologia-7</button></div>
            <div class="col-4 pb-2"> <button type="button" class="btn btn-primary btn-sm">Tipologia-8</button></div>
            <div class="col-4 pb-2"> <button type="button" class="btn btn-primary btn-sm">Tipologia-9</button></div>

        </div>
        <h1 class="mt-4 mb-4 text-light testogrande">Tutti i Giochi</h1>
        <div>
            <div id="user_cards" class="row container_giochi">
            </div>
        </div>
    </div>


</main>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

@section Scripts {
    <script type="text/javascript">

        caricaGiochi();

        function Like(id){
            axios.post("/api/HomeApi")
        }

        function caricaGiochi(search) {
            axios.get("/api/HomeApi", {
                params: { search: search }
            }).then((res) => {
                console.log("Risultato ok", res);

                document.querySelector('.container_giochi').innerHTML = '';

                res.data.forEach(videogioco => {
                    console.log("videogioco", videogioco);
                    let prezzo = videogioco.prezzo.toFixed(2);
                    prezzo = prezzo.replace(".", ",");
                    document.querySelector(".container_giochi").innerHTML +=
                        `


                                            <div class="user_card">
                                            <div class="card_border">
                                            <div class="card-content">
                                            <a class="card_link" href="/Home/Dettagli/${videogioco.id}">
                                                <img class="card_img" src="${videogioco.foto}" alt="${videogioco.nome}">
                                                <div class="user_card_body">
                                                <h4 class="card_title">${videogioco.nome}</h4>
                                                <p>${prezzo} €</p>
                                            </a>
                                            
                                            <button class="button button-like botono${videogioco.id}">
                                            ❤
                                            <span class="spano${videogioco.id}">${videogioco.numeroLike} Like</span>
                                            </button>
                                            </div>
                                            </div>
                                            </div>
                                    </div>

                                    `
                    
                });
            }).catch((error) => {
                console.log(error);
            });
        }
            
            axios.get("/api/HomeApi", {
            }).then((res) => {
                res.data.forEach(videogioco=> {
                    document.querySelector(`.botono${videogioco.id}`).addEventListener("click", function() {
                        document.querySelector(`.botono${videogioco.id}`).classList.toggle("liked");
                    if (!document.querySelector(`.botono${videogioco.id}`).classList.contains("liked")){
                        videogioco.numeroLike--;
                    }
                    else{
                        videogioco.numeroLike++;
                    }
                    document.querySelector(`.spano${videogioco.id}`).innerHTML=videogioco.numeroLike + " Like";
                    axios.put(`/api/HomeApi/${videogioco.id}`, videogioco, {
                    })
                    .then(response=>{console.log(response);
                    })
                    .catch(error=>{console.log(error);
                    });
                    });
                
                })
                    }).catch((error) => {
                    console.log(error);
                    });
    </script>
}
