<main class="mb-5" id="bg-play">
    <div class="container-fluid text-center bg-warning pb-5 pt-5 me-0 ms-0" id="scontiplay">
        <h1 id="fantasy" class="mb-4 text-danger">Offerte Speciali Fino A Domenica</h1>
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://s2.gaming-cdn.com/images/products/7111/380x218/forspoken-pc-gioco-steam-europe-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://s3.gaming-cdn.com/images/products/12953/380x218/marvel-s-spider-man-miles-morales-pc-gioco-steam-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://s2.gaming-cdn.com/images/products/13186/380x218/frozen-flame-pc-gioco-steam-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container-fluid text-center  pb-5 pt-5 me-0 ms-0" id="bestsellerplay">
        <h1 class="mt-4 mb-4 text-warning" id="fantasy">Giochi Migliori</h1>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://s2.gaming-cdn.com/images/products/7111/380x218/forspoken-pc-gioco-steam-europe-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://s3.gaming-cdn.com/images/products/12953/380x218/marvel-s-spider-man-miles-morales-pc-gioco-steam-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://s2.gaming-cdn.com/images/products/13186/380x218/frozen-flame-pc-gioco-steam-cover.jpg?v=1674774000"
                         class="w-75" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nome Gioco</h5>
                        <p>Prezzo</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <h1 class="mt-5 mb-4 testogrande text-center" style="color: #1842be;"> Generi</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light"> <button class="btn">
            <img class="imgbottone"
                src="/img/IMG-Icone/action-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Action</p>
        </button>
        </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
            <img class="imgbottone"
                src="/img/IMG-Icone/arcade-play.png" width="30" />
            <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Arcade</p>
        </button>
        </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/avventura-play.png" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Adventure</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
            <img class="imgbottone"
                src="/img/IMG-Icone/board-play.png" width="30" />
            <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Board</p>
        </button></div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/casual-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Casual</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/horror-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Horror</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/istruttivi-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Educational</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/musica-playstation.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Rythm</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/parole-playstation.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Words</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/puzzle-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Puzzle</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/quiz-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Quiz</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/racing-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Racing</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/roguelike-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Roguelike</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/rpg-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">RPG</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/sandbox-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Sandbox</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/simulatore-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Simulator</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/sport-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Sport</p>
                </button>
            </div>
            <div class="col-4 col-md-3 col-xl-2 pb-2 text-light">
                <button class="btn">
                    <img class="imgbottone"
                         src="/img/IMG-Icone/strategia-play.png" width="30" />
                    <p class="text-light" style=" font-family: fantasy; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;">Strategy</p>
                </button>
            </div>








        </div>
        <h1 class="mt-4 mb-4 testogrande" style="color: #a8a04d">Tutti i Giochi</h1>
        <div>
            <div class="row container_giochi">

            </div>
        </div>
    </div>


</main>









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

@section Scripts {
            <script type="text/javascript">

                caricaGiochi();

                function caricaGiochi(search) {
                    axios.get("/api/HomeApi", {
                        params: { search: search }
                    }).then((res) => {
                        console.log("Risultato ok", res);

                        document.querySelector('.container_giochi').innerHTML = '';

                        res.data.forEach(videogioco => {
                            console.log("videogioco", videogioco);
                            let prezzo = videogioco.prezzo.toFixed(2);
                            prezzo = prezzo.replace(".",",");
                            document.querySelector(".container_giochi").innerHTML +=
                                `

                            <div class="col-6 col-md-3 col-xl-2 pb-3">
                                    <div class="card">
                                            <a href="/Home/Dettagli/${videogioco.id}">
                                        <img src="${videogioco.foto}"
                                             class="card-img-top" alt="cabin">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">${videogioco.nome}</h5>
                                            <p>${prezzo} €</p>

                                        </div>
                                            </a>
                                    </div>
                                </div>

                                    `
                        });
                    }).catch ((error) => {
                    console.log(error);
                });
                }
            </script>
}
