<main class="mb-5" id="bg-nin">
    
    <div class="container-fluid text-center  pb-5 pt-5 me-0 ms-0" id="bestsellernin">
        <h1 class="mt-4 mb-4 text-warning" id="fantasy">Giochi Migliori</h1>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner carosello_like">
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div>
        <h1 class="mt-4 mb-4 testogrande" style="color: #a8a04d">Tutti i Giochi</h1>
        <div>
            <div id="user_cards" class="row container_giochi">
            </div>
        </div>
    </div>


</main>









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

@section Scripts {
    <script type="text/javascript">


        caricaGiochiNin();

        function caricaGiochiNin(){
         let nin = "switch";
         caricaGiochi(nin);

        }

        function Like(id) {
            axios.post("/api/HomeApi")
        }

        function caricaGiochi(search) {
            axios.get("/api/HomeApi", {
                params: { search: search }
            }).then((res) => {
                console.log("Risultato ok", res);

                document.querySelector('.container_giochi').innerHTML = '';

                res.data.forEach(videogioco => {
                    console.log("videogioco", videogioco);
                    let prezzo = videogioco.prezzo.toFixed(2);
                    prezzo = prezzo.replace(".", ",");
                    document.querySelector(".container_giochi").innerHTML +=
                        `


                                                    <div class="user_card">
                                                    <div class="user_card_border"></div>
                                                    <div class="user_card_content">
                                                    <a class="card_link" href="/Home/Dettagli/${videogioco.id}">
                                                        <img style="aspect-ratio:4/4" class="card_img" src="${videogioco.foto}" alt="${videogioco.nome}">
                                                        <div class="user_card_body">
                                                        <h4 class="card_title">${videogioco.nome}</h4>
                                                        <p>${prezzo} €</p>
                                                    </a>
                                                            </div>
                                                    <button class="button button-like botono${videogioco.id}">
                                                    ❤
                                                    <span class="spano${videogioco.id}">${videogioco.numeroLike} Like</span>
                                                    </button>
                                                    </div>
                                                    </div>
                                                    </div>

                                                                                            `

                });
            }).catch((error) => {
                console.log(error);
            });
        }

        axios.get("/api/HomeApi", {
        }).then((res) => {
            res.data.forEach(videogioco => {
                if (document.querySelector(`.botono${videogioco.id}`) !== null) {
                    document.querySelector(`.botono${videogioco.id}`).addEventListener("click", function () {
                        document.querySelector(`.botono${videogioco.id}`).classList.toggle("liked");
                        if (!document.querySelector(`.botono${videogioco.id}`).classList.contains("liked")) {
                            videogioco.numeroLike--;
                        }
                        else {
                            videogioco.numeroLike++;
                        }
                        document.querySelector(`.spano${videogioco.id}`).innerHTML = videogioco.numeroLike + " Like";
                        axios.put(`/api/HomeApi/${videogioco.id}`, videogioco, {
                        })
                            .then(response => {
                                console.log(response);
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    });
                }

            })
        }).catch((error) => {
            console.log(error);
        });

        function Likebutton() {
            axios.get("/api/HomeApi", {
            }).then((res) => {
                res.data.forEach(videogioco => {
                    if (document.querySelector(`.botono${videogioco.id}`) !== null) {
                        document.querySelector(`.botono${videogioco.id}`).addEventListener("click", function () {
                            debugger;
                            document.querySelector(`.botono${videogioco.id}`).classList.toggle("liked");
                            if (!document.querySelector(`.botono${videogioco.id}`).classList.contains("liked")) {
                                videogioco.numeroLike--;
                            }
                            else {
                                videogioco.numeroLike++;
                            }
                            document.querySelector(`.spano${videogioco.id}`).innerHTML = videogioco.numeroLike + " Like";
                            axios.put(`/api/HomeApi/${videogioco.id}`, videogioco, {
                            })
                                .then(response => {
                                    console.log(response);
                                })
                                .catch(error => {
                                    console.log(error);
                                });
                        });
                    }
                })
            }).catch((error) => {
                console.log(error);
            });
        }

        CaroselloLike();

        function CaroselloLike() {
            axios.get("/api/HomeApi", {
            }).then((res) => {
                console.log("Risultato ok", res);

                document.querySelector('.carosello_like').innerHTML = '';

                for (let i = 0; i < 3; i++) {
                    let prezzo = res.data[i].prezzo.toFixed(2);
                    prezzo = prezzo.replace(".", ",");
                    if (i == 0) {
                        document.querySelector(".carosello_like").innerHTML +=
                            `

                                                                                                            <div class="carousel-item active">
                                                                    <img style="max-width: 1280px; aspect-ratio:16/9" src="${res.data[i].fotoOrizzontale}"
                                                                         class="w-75" alt="...">
                                                                            <div class="carousel-caption d-none d-md-block">
                                                                                    <div class="container justify">
                                                                                <h5 class="testoCarosello">${res.data[i].nome}</h5>
                                                                                <p class="testoCarosello">${res.data[i].prezzo} €</p>
                                                                                <p class="testoCarosello">${res.data[i].numeroLike} ❤</p>
                                                                                </div>
                                                                    </div>

                                                                                                            `
                    }
                    else {


                        document.querySelector(".carosello_like").innerHTML +=
                            `

                                                                                                    <div class="carousel-item">
                                                                    <img style="max-width: 1280px; aspect-ratio:16/9" src="${res.data[i].fotoOrizzontale}"
                                                                 class="w-75" alt="...">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                    <div class="container text-center">
                                                                <h5 class="testoCarosello">${res.data[i].nome}</h5>
                                                                        <p class="testoCarosello">${res.data[i].prezzo} €</p>
                                                                        <p class="testoCarosello">${res.data[i].numeroLike} ❤</p>
                                                                        </div>
                                                            </div>

                                                                                                    `
                    }

                };
            }).catch((error) => {
                console.log(error);
            });
        }
    </script>
}
