<h1>MODIFICA</h1>
<form class="row g-3">
    <div class="col-12">
        <label for="inputNome" class="form-label">Nome</label><br><br>
        <input type="text" class="form-control" id="inputNome" placeholder="">
    </div><br><br>
    <div class="col-12">
        <label for="inputDescrizione" class="form-label">Descrizione</label><br><br>
        <input type="text" class="form-control" id="inputDescrizione" placeholder="">
    </div>
    <div class="col-12">
        <label for="inputPrezzo" class="form-label">Prezzo</label><br><br>
        <input type="text" class="form-control" id="inputPrezzo" placeholder="">
    </div><br><br>
    <div class="col-12">
        <label for="inputImmagine" class="form-label">Immagine</label><br><br>
        <input type="text" class="form-control" id="inputImmagine" placeholder="">
    </div><br><br>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Salva</button>
    </div>
</form>
